[tool.poetry]
name = "HypEx"
version = "0.0.1b1"
description = "Fast and customizable framework for Causal Inference"
authors = [
    "Dmitry Tikhomirov <dimasta00@gmail.com>",
]
readme = "README.md"
license = "Apache-2.0"
repository = "https://github.com/sb-ai-lab/HypEx"
classifiers = [
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Operating System :: OS Independent",
    "Intended Audience :: Science/Research",
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "Natural Language :: English",
    "Topic :: Scientific/Engineering :: Artificial Intelligence:: Causal Inference",
    "Typing :: Typed"
]


[tool.poetry.dependencies]
python = ">=3.8, <3.11"
tqdm = '*'
scikit-learn = "*"

pandas = [
    { version = "^2.0.3", python = "<3.9" },
    { version = "^2.1.2", python = ">=3.9" }
]

numpy = [
    { version = "^1.24.4", python = "<3.9" },
    { version = "^1.26.1", python = ">=3.9" }
]

scipy = [
    { version = "^1.10.1", python = "<3.9" },
    { version = "^1.11.3", python = ">=3.9, <3.11" }
]

matplotlib = [
    { version = "^3.7.3", python = "<3.9" },
    { version = "^3.8.1", python = ">=3.9, <3.11" }]

faiss-cpu = "^1.7.4"


[tool.poetry.dev-dependencies]
jupyter = "^1.0.0"
pytest = "^7.4.3"
sphinx = {version = "^7.2.6", python = ">=3.9, <3.11"}



[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"